//sticky footer
html, body, #app, #inner-wrapper{
  height: 100%;
}


//end sticky footer

body{
  background: $light-grey;

  footer{
    background: $light-bue;
    padding: 40px 0;
  }
}

.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 960px;
  position: relative;
}

.content-block{
  padding: 20px;
  background: #fff;
  border: 1px solid $border-clr;
}

a{
  text-decoration: none;
}

.dib{
  @include inline-block(middle);
}

.w-100{
  width: 100%!important;
}

.m40-0{
  margin: 40px 0;
}

.m20-0{
  margin: 20px 0;
}

.mt-20{
  margin-top: 20px;
}

.mb-20{
  margin-bottom: 20px;
}

.m-r-10{
  margin-right: 10px;
}

.p40-0{
  padding: 40px 0;
}

.pt-20{
  padding-top: 20px!important;
}

.txt-center{
  text-align: center;
}

@include breakpoint-extra-small(){
  .content-container {
    padding: 0 10px;
  }
}