.users{
  background: $white;
  padding: 20px 0;
  position: relative;

  .list-title{
    padding: 0 30px;
    font-size: 12px;
    font-weight: bold;
    @include box-sizing(border-box);
    @include flexbox();

    & > div{
      padding-bottom: 10px;
      border-bottom: 2px solid $light-grey;
      @include box-sizing(border-box);
      overflow: hidden;

      .dib{
        @include calc("max-width", "100% - 14px");
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .sorted{
      white-space: nowrap;
      cursor: pointer;
      position: relative;

      .arrows-wrap{
        margin-left: 5px;
        @include inline-block(middle);
        position: relative;
        height: 10px;
        width: 10px;

        span{
          position: absolute;
          left: 0;
          color: rgba($grey, 0.2);
          font-size: 9px;

          &:first-of-type{
            top: -4px;
          }
          &:last-of-type{
            top: 4px;
          }
        }
      }

      &.active.asc .myIcons:first-of-type{
        color: rgba($grey, 0.7);
      }

      &.active.desc .myIcons:last-of-type{
        color: rgba($grey, 0.7);
      }
    }
  }

  .sticky-table-head{
    &.sticky{
      padding-top: 10px;
      background: $white;
      @include box-shadow(0, 4px, 4px, rgba(#000, 0.2));

      .list-title {
        & > div {
          padding-bottom: 10px;
          border-bottom: none;
          overflow: hidden;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }
      }
    }
  }

  &-list{
    padding: 0 30px;
    width: 100%;
    min-height: 60px;
    @include box-sizing(border-box);

    .list-item{
      padding: 10px 0;
      @include align-items(center);
      @include flexbox();

      &:not(:last-of-type){
        border-bottom: 1px solid $light-grey;
      }

      & > td {
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
      }
    }
  }

  .list-item, .list-title {
    @include flex-wrap(wrap);
  }

  .lds-spinner{
    display: none;
  }

  &.pending{
    &:after{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 100;
      top: 0;
      background: $dark-grey;
      @include opacity(0.1)
    }

    .lds-spinner{
      display: inline-block;
      position: absolute;
      left: 50%; top: 50px;
      z-index: 101;
      @include transform(translate(-50%, 0));
    }
  }

  @include breakpoint-small-devices(){
    .list-title {
      padding: 0 10px;
    }

    .users-list{
      padding: 0 10px;
      font-size: 14px;
    }
  }

  @include breakpoint-unless-small-devices(){
    font-size: 13px;

    .list-item, .list-title {

      td:not(:last-of-type), & > div:not(:last-of-type) {
        @include flex(0 0 15%);
      }

      td:last-of-type, & > div:last-of-type {
        @include flex(0 0 10%);
      }
    }
  }

  @include breakpoint-small(){
    .list-item, .list-title {
      td:not(:last-of-type), & > div:not(:last-of-type) {
        @include flex(0 0 25%);
      }

      td:last-of-type, & > div:last-of-type {
        @include flex(0 0 25%);
        text-align: right;
      }

      & > div.firstName, & > div.surname{
        border-bottom: none;
      }

      td.email, & > div.email{
        @include flex(0 0 50%);
        text-align: right;
        border-bottom: none;
      }
    }
  }

  @include breakpoint-extra-small(){
    .list-item, .list-title {
      td, & > div{
        @include flex(0 0 50%);
      }

      td.surname, & > div.surname, td.country, & > div.residenceCountry, td.last-active, & > div.lastActive{
        text-align: right;
      }

      & > div:not(.lastActive):not(.residenceCity){
        border-bottom: none;
      }

      td.email, & > div.email{
        @include flex(0 0 100%);
        text-align: left;
      }
    }

    .users-list{
      font-size: 13px;
    }
  }
}

