.paginator{

  li{
    @include inline-block(middle);
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    @include border-radius(4px);
    border: 1px solid $border-clr;
    background: $white;
    margin: 5px;

    &:not(.active){
      cursor: pointer;
    }

    &.active{
      @include box-shadow(0, 0, 5px, $dark-grey);
      cursor: default;
    }
  }
}